.addCart{

  :global(.btn){
    padding: 0;
    a{
      padding: 6px 12px;
      display: inline-block;
      &:hover{
        color: #fff;
      }
    }
  }

  :global(.btn-outline-success){
    margin-right: 20px;
  }

  :global(.btn-outline-success){
    padding: 6px 12px;
    &:hover{
      cursor: not-allowed;
    }
  }

}