@import "../../styles/variable";
.icon{
  background-color: #e6e6e6;
  margin-left: auto;
  width: 100px;
  height: $height-icon;
  border: 1px solid #b0b0b2;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
 :global(.ant-switch){
   border-radius: 0;
   width: 100%;
   display: flex;
   > span{
     background-color: #33b5e5 !important;
     margin-right: 0;
     width: 50%;
     margin-left: auto;
   }
 }

  :global(.ant-switch-checked){
    background-color: #33b5e5;
    :global(.ant-switch-inner) {
      background-color: #f00 !important;
      margin-right: auto;
      margin-left: 0;
    }
  }


  :global(.ant-switch-handle){
    display: none;
  }
}

