.header{
  display: flex;
  align-items: center;
  position: relative;
  :global(.btn-outline-dark){
    margin-left: 50px;
    padding: 0;
    a{
      padding: 6px 12px;
      display: inline-block;
      &:hover{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}